<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">
        <img height="50" src="{{uiRootPath}}/img/libtics-icon.svg" />&nbsp;
        {{site.title}}
      </a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">

		{{#if env.ALGOLIA_API_KEY}}
          <div class="navbar-item">
            <div id="search" class="field"/>
          </div>
        {{/if}}

        <!-- <a class="navbar-item" href="#">Home</a> -->
        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Product A</a>
            <a class="navbar-item" href="#">Product B</a>
            <a class="navbar-item" href="#">Product C</a>
          </div>
        </div> -->
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{{siteRootPath}}}/aapl/main/frontispiece.html">Ex Libris Analytics</a>
            <!-- <a class="navbar-item" href="#">Service B</a>
            <a class="navbar-item" href="#">Service C</a> -->
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a target="_blank" class="button is-primary" href="https://libtics.zulipchat.com">Chat</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
