{{#with site.keys.googleAnalytics}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{this}}"></script>
<script>function gtag(){dataLayer.push(arguments)};window.dataLayer=window.dataLayer||[];gtag('js',new Date());gtag('config','{{this}}')</script>
{{/with}}
<script>var uiRootPath = '{{{uiRootPath}}}'</script>

{{#with site.keys.beampipeAnalytics}}
<script async defer src="https://beampipe.io/js/tracker.js" data-beampipe-domain="libtics.org"></script>
{{/with}}

{{#with site.keys.osanoGdpr}}
<script src="https://cmp.osano.com/AzZcr3RqvpEUd48u/8e6a7d70-bf5e-495e-b61a-9219717f3bd4/osano.js"></script>
{{/with}}

{{#with site.keys.netlifyIdentity}}
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{/with}}

{{#with site.keys.algoliaSearch}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: 'XNAAASPYXX',
    apiKey: '3408a3c154c256313c4f66ce8bd3caed',
    siteId: '6d30c804-40f5-4fbf-ab26-58bfcb25fab7',
    branch: 'main',
    selector: 'div#search',
    placeholder: 'Search libtics',
  });
</script>
{{/with}}
