{{#with page.navigation}}
<div class="nav-panel-menu is-active" data-panel="menu">
  <nav class="nav-menu">
    {{#with @root.page.componentVersion}}
    <h2 class="title"><a href="{{{relativize ./url}}}">{{./title}}</a></h2>
    {{/with}}
<strong>Contents</strong>
{{> nav-tree navigation=this}}
  </nav>
</div>
{{/with}}
