<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
    <div class="panels">
{{> nav-menu}}
{{#if site.keys.displayVersions}}
{{> nav-explore}}
{{/if}}
    </div>
  </aside>
</div>
